  
body {
    font-family: Arial, sans-serif;
    background-color: #f5e6e6;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

form {
    background-color: #080808;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5446d1;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #23585c;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #5633f7;
    text-align: center;
}

input[type="reset"],
button {
    background-color: #23585c;
    text-align: center;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="reset"]:hover,
button:hover {
    background-color: #5633f7;
    text-align: center;
}





